<div class="content-wrapper">

  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Dashboard : </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-user-md"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Doctor's</span>
            <span class="info-box-number">{{count.doctor}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-flask"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Labs</span>
            <span class="info-box-number">{{count.lab}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>

      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-medkit"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Chemists</span>
            <span class="info-box-number">{{count.chemist}}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Patients</span>
            <span class="info-box-number">00</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>


  <div class="modal-body" style="margin-top: -8%;">
    <section class="content">

      <div class="row">

        <!-- / end column -->
        <div class="col-md-12">
          <div class="nav-tabs-custom">

            <ul class="nav nav-tabs">
              <li class="active"><a aria-expanded="false" data-toggle="tab" href="#doctor">Doctor</a></li>
              <li class=""><a aria-expanded="false" data-toggle="tab" href="#chemist">Chemist</a></li>
              <li class=""><a aria-expanded="true" data-toggle="tab" href="#laboratory">Laboratory</a></li>
<!--              <li class=""><a aria-expanded="false" data-toggle="tab" href="#patient">Patient</a></li>-->
            </ul>

            <div class="tab-content">

              <!-- doctor table-->
              <div class="tab-pane active" id="doctor">
                <h3>Doctors</h3>
                <section class="content">
                  <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display" data-page-length='10' datatable
                         id="datatable1" style="width:100%">
                    <thead>
                    <tr>
                      <th >Name</th>
                      <th >Contact Number</th>
                      <th >e-mail</th>
                      <th style="text-align: center;">Approve</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let doctor of UnApprovedDoctors">
                      <td style="text-align: left;">{{doctor.user.full_name}}</td>
                      <td style="text-align: left;">{{doctor.user.mobile_number}}</td>
                      <td style="text-align: left;">{{doctor.user.email}}</td>
                      <td>
                        <button (click)="ApproveDoctor(doctor.id)" class="btn btn-success">Approve</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </section>
              </div>
              <!--//end doctor table-->

              <!-- ///////////////////////////////////////////////////////////////////////////-->

              <!---chemist table-->
              <div class="tab-pane" id="chemist">
                <h3>Chemist</h3>
                <section class="content">
                 <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display" data-page-length='10' datatable
                        id="datatable2" style="width:100%">
                    <thead>
                    <tr>
                      <th >Name</th>
                      <th >Contact Number</th>
                      <th >e-mail</th>
                      <th style="text-align: center;">Approve</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let chemist of UnApprovedChemist">
                      <td style="text-align: left;">{{chemist.user.full_name}}</td>
                      <td style="text-align: left;">{{chemist.user.mobile_number}}</td>
                      <td style="text-align: left;">{{chemist.user.email}}</td>
                      <td>
                        <button (click)="ApproveChemist(chemist.id)" class="btn btn-success">Approve</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </section>
              </div>
              <!---//end chemist table-->

              <!-- ///////////////////////////////////////////////////////////////////////////-->

              <!---laboratory table-->
              <div class="tab-pane" id="laboratory">
                <h3>Laboratory </h3>
                <section class="content">
                  <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display" data-page-length='10'
                         id="datatable3" datatable style="width:100%">
                    <thead>
                    <tr>
                      <th>Name</th>
                      <th>Contact Number</th>
                      <th >e-mail</th>
                      <th style="text-align: center;">Approve</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let lab of UnApprovedLabs">
                      <td style="text-align: left;">{{lab.user.full_name}}</td>
                      <td style="text-align: left;">{{lab.user.mobile_number}}</td>
                      <td style="text-align: left;">{{lab.user.email}}</td>
                      <td>
                        <button (click)="ApproveLab(lab.id)" class="btn btn-success">Approve</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </section>
              </div>
              <!---//end laboratory table-->

              <!-- ///////////////////////////////////////////////////////////////////////////-->

             <div>
              <!---patient table-->
<!--              <div class="tab-pane" id="patient">-->
<!--                <h3>Patient Table</h3>-->
<!--                <section class="content">-->

<!--                  <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="display" data-page-length='10'-->
<!--                         datatable style="width:100%">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                      <th>Name</th>-->
<!--                      <th>Contact Number</th>-->
<!--                      <th>e-mail</th>-->
<!--                      <th>Approve</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                    <tr *ngFor="let doctor of UnApprovedDoctors">-->
<!--                      <td>{{doctor.user.full_name}}</td>-->
<!--                      <td>{{doctor.user.mobile_number}}</td>-->
<!--                      <td>{{doctor.user.email}}</td>-->
<!--                      <td>-->
<!--                        <button (click)="ApproveDoctor(doctor.id)" class="btn btn-success">Approve</button>-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                  </table>-->
<!--                </section>-->
<!--              </div>-->
            </div>

            </div>
            <!---//end patient table-->

          </div>

        </div>

      </div>
  <!-- /.row -->

  </section>
</div>


</div>
