<div class="content-wrapper">
  <section class="content-header">
    <h1>Chemist:</h1>
  </section>


  <div class="container" style="margin-top: 2%;">
    <div class="row">
      <div class="col-md-6 ">
        <input class="btn btn-primary button" data-target="#myModal" data-toggle="modal" type="button" value="Add+">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!--             Modal content-->
            <div class="modal-content">

              <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h3 class="modal-title">Doctor Detail</h3>
              </div>
              <form [formGroup]="ChemistForm" class="form-horizontal" role="form" (ngSubmit)="addChemist()">

                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="username" placeholder="Username" type="text">
                </div>
                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="password" placeholder="Password" type="password">
                </div>
                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="confirm_password" placeholder="Confirm Password"
                         type="password">
                </div>
                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="email" placeholder="Email" type="email">
                </div>
                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="first_name" placeholder="First Name" type="text">
                </div>
                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="last_name" placeholder="Last Name" type="text">
                </div>
                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="mobile_number" placeholder="Mobile Number"
                         type="text">
                </div>
                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="address1" placeholder="Address 1" type="text">
                </div>
                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="address2" placeholder="Address 2" type="text">
                </div>
                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="zip_code" placeholder="ZIP" type="text">
                </div>

                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="city" placeholder="City" type="text">
                </div>

                <div class="modal-body form-field">
                  <input class="doctor_form" formControlName="country" placeholder="Country" type="text">
                </div>


                <div class="modal-footer form-field">
                  <button class="btn btn-primary button" type="submit">Save</button>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="UpdateForm" role="dialog">
    <div class="modal-dialog">

      <!--             Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">&times;</button>
          <h3 class="modal-title">Doctor Detail</h3>
        </div>
        <form [formGroup]="ChemistForm" class="form-horizontal" role="form" (ngSubmit)="editChemist()">

          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="username" placeholder="Username" type="text">
          </div>
          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="email" placeholder="Email" type="email">
          </div>
          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="first_name" placeholder="First Name" type="text">
          </div>
          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="last_name" placeholder="Last Name" type="text">
          </div>
          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="mobile_number" placeholder="Mobile Number"
                   type="text">
          </div>
          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="address1" placeholder="Address 1" type="text">
          </div>
          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="address2" placeholder="Address 2" type="text">
          </div>
          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="zip_code" placeholder="ZIP" type="text">
          </div>

          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="city" placeholder="City" type="text">
          </div>

          <div class="modal-body form-field">
            <input class="doctor_form" formControlName="country" placeholder="Country" type="text">
          </div>


          <div class="modal-footer form-field">
            <button class="btn btn-primary button" type="submit">Update</button>
          </div>
        </form>

      </div>

    </div>
  </div>


  <section *ngIf="show" class="content">

    <table id="dataTable" datatable [dtOptions]="dtOptions" class="display" style="width:100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Contact </th>
        <th>Email</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let chemist of chemists">
        <td>{{chemist.user.full_name}}</td>
        <td>{{chemist.user.mobile_number}}</td>
        <td>{{chemist.user.email}}</td>
        <td>
          <button (click)="editChemistForm(chemist.id)" class="btn btn-warning" data-target="#UpdateForm"
                  data-toggle="modal">Edit
          </button>
        </td>
        <td>
          <button (click)="deleteChemist(chemist.id)" class="btn btn-danger">Remove</button>
        </td>
        <td>
          <!--          <button (click)="ApproveDoctor(doctor.id)">Approve</button>-->
        </td>
      </tr>
      </tbody>

    </table>
  </section>


</div>
