<div class="content-wrapper">
  <section class="content-header">
    <h1>Chemist:</h1>
  </section>


  <div class="container" style="margin-top: 2%;">
    <div class="row">
      <div class="col-md-6 ">
        <input class="btn btn-primary button" data-target="#myModal" data-toggle="modal" type="button" value="Add+">
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!--             Modal content-->
            <div class="modal-content">

              <div class="modal-header">
                <button class="close" data-dismiss="modal" type="button">&times;</button>
                <h3 class="modal-title">Doctor Detail</h3>
              </div>
              <form (ngSubmit)="addChemist()" [formGroup]="ChemistForm" class="form-horizontal" role="form">
                <div class="row" style="width: 100%;">
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="username" id="username" placeholder="Username"
                           type="text">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.username">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="email" placeholder="Email" type="email">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.email">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="width: 100%;">
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="first_name" placeholder="First Name" type="text">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.first_name">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>

                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="last_name" placeholder="Last Name" type="text">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.last_name">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="password" placeholder="Password" type="password">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.password">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="confirm_password" placeholder="Confirm Password"
                           type="password">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.confirm_password">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="width: 100%;">
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="address1" placeholder="Address 1" type="text">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.password">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="address2" placeholder="Address 2" type="text">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.password">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="zip_code" placeholder="ZIP" type="text">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.password">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="country" placeholder="Country" type="text">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.password">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>

                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="mobile_number" placeholder="Mobile Number"
                           type="text">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.mobile_number">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                  <div class="modal-body form-field col-md-6">
                    <input class="doctor_form" formControlName="city" placeholder="City" type="text">
                    <div *ngIf="errorMessage">
                      <div *ngFor="let error of errorMessage.password">
                        <small class="error-message">{{error}}</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" style="width: 100%;">
                  <div class="modal-footer form-field col-md-12 center">
                    <button class="btn btn-primary button" type="submit">Save</button>
                  </div>
                </div>
              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="UpdateForm" role="dialog">
    <div class="modal-dialog">

      <!--             Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button">&times;</button>
          <h3 class="modal-title">Doctor Detail</h3>
        </div>
        <form (ngSubmit)="editChemist()" [formGroup]="ChemistForm" class="form-horizontal" role="form">
          <div class="row" style="width: 100%;">
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="username" id="username" placeholder="Username"
                     type="text">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.username">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="email" placeholder="Email" type="email">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.email">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="width: 100%;">
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="first_name" placeholder="First Name" type="text">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.first_name">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>

            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="last_name" placeholder="Last Name" type="text">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.last_name">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="password" placeholder="Password" type="password">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.password">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="confirm_password" placeholder="Confirm Password"
                     type="password">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.confirm_password">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="width: 100%;">
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="address1" placeholder="Address 1" type="text">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.password">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="address2" placeholder="Address 2" type="text">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.password">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="zip_code" placeholder="ZIP" type="text">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.password">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="country" placeholder="Country" type="text">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.password">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>

            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="mobile_number" placeholder="Mobile Number"
                     type="text">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.mobile_number">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
            <div class="modal-body form-field col-md-6">
              <input class="doctor_form" formControlName="city" placeholder="City" type="text">
              <div *ngIf="errorMessage">
                <div *ngFor="let error of errorMessage.password">
                  <small class="error-message">{{error}}</small>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="width: 100%;">
            <div class="modal-footer form-field col-md-12 center">
              <button class="btn btn-primary button" type="submit">Save</button>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>


  <section *ngIf="show" class="content">

    <table id="dataTable" datatable [dtOptions]="dtOptions" class="display" style="width:100%">
      <thead>
      <tr>
        <th>Name</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let chemist of chemists">
        <td>{{chemist.user.full_name}}</td>
        <td>{{chemist.user.mobile_number}}</td>
        <td>{{chemist.user.email}}</td>
        <td>
          <button (click)="editChemistForm(chemist.id)" class="btn btn-warning" data-target="#UpdateForm"
                  data-toggle="modal">Edit
          </button>
        </td>
        <td>
          <button (click)="deleteChemist(chemist.id)" class="btn btn-danger">Remove</button>
        </td>
        <td>
          <!--          <button (click)="ApproveDoctor(doctor.id)">Approve</button>-->
        </td>
      </tr>
      </tbody>

    </table>
  </section>


</div>
