.button {
  width: 20%;
  font-weight: bold;
  float: right;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

.doctor_form {
  width: 70%;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: auto;
  height: auto;
  position: static;
  cursor: default;
  opacity: 1;
  margin: 0;
  padding: 10px 20px;
  overflow: visible;
  border: 1px solid #b7b7b7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0, 142, 198, 1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
}

.table_heading {
  /*width: auto;*/
  background-color: #1e282c;
  color: white;
  height: 46px;
  text-align: center;
}

.table_button {
  width: 100px;
}

.error-message {
  color: #9f191f;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}




@media (max-width: 767px) {
	 .modal-fullscreen-xs-down {
		 padding: 0 !important;
	}
	 .modal-fullscreen-xs-down .modal-dialog {
		 width: 100%;
		 height: 100%;
		 margin: 0;
		 padding: 0;
	}
	 .modal-fullscreen-xs-down .modal-content {
		 height: auto;
		 min-height: 100%;
		 border: 0 none;
		 border-radius: 0;
		 box-shadow: none;
	}
}
 @media (max-width: 991px) {
	 .modal-fullscreen-sm-down {
		 padding: 0 !important;
	}
	 .modal-fullscreen-sm-down .modal-dialog {
		 width: 100%;
		 height: 100%;
		 margin: 0;
		 padding: 0;
	}
	 .modal-fullscreen-sm-down .modal-content {
		 height: auto;
		 min-height: 100%;
		 border: 0 none;
		 border-radius: 0;
		 box-shadow: none;
	}
}
 @media (max-width: 1199px) {
	 .modal-fullscreen-md-down {
		 padding: 0 !important;
	}
	 .modal-fullscreen-md-down .modal-dialog {
		 width: 100%;
		 height: 100%;
		 margin: 0;
		 padding: 0;
	}
	 .modal-fullscreen-md-down .modal-content {
		 height: auto;
		 min-height: 100%;
		 border: 0 none;
		 border-radius: 0;
		 box-shadow: none;
	}
}
 .modal-fullscreen {
	 padding-left: 15% !important;
   padding-top: 3%;
   padding-right: 3%;
}
 .modal-fullscreen .modal-dialog {
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 padding: 0;
}
 .modal-fullscreen .modal-content {
	 height: auto;
	 min-height: 100%;
	 border: 0 none;
	 border-radius: 0;
	 box-shadow: none;
}

