<body class="hold-transition skin-blue sidebar-mini"  >
<div>
  <header class="main-header" >

    <!-- Logo -->
    <a class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>B &nbsp;C</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Bio</b>&nbsp; Care</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" data-toggle="push-menu"  role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" >
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown  user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown">
              <img alt="User Image" class="user-image" src="../../assets/dist/img/user2-160x160.jpg">
            </a>
          </li>
          <li class="signout-icon" >
            <i class="fa fa-power-off" title="sign out"></i>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>

    </nav>
  </header>


  <aside class="main-sidebar" style="height: 100%;  position: fixed;">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" >
      <!-- Sidebar user panel -->
      <div class="user-panel">

        <div class="pull-left image">
          <img alt="User Image" class="img-circle" src="../../assets/dist/img/user2-160x160.jpg">
        </div>
        <div class="pull-left info">
<!--                    <p>{{user.fullname}}</p>-->
          <a ><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form  class="sidebar-form" method="get">
        <div class="input-group">
          <input class="form-control" name="q" placeholder="Search..." type="text">
          <span class="input-group-btn">
                <button class="btn btn-flat" id="search-btn" name="search" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>

      <ul class="sidebar-menu" data-widget="tree">
        <li class="active treeview menu-open">
          <a [routerLink]="['/']">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container"></span>
          </a>
        </li>

        <li class="treeview">
          <a [routerLink]="['/doctor']">
            <i class="fa fa-user-md"></i>
            <span>Doctor's</span>
          </a>
          <!--          <ul class="treeview-menu">-->
          <!--            <li><a><i class="fa fa-circle-o"></i> General</a></li>-->
          <!--          </ul>-->


        <li class="treeview">
          <a [routerLink]="['/chemist']">
            <i class="fa fa-medkit"></i>
            <span>Chemist Shop</span>
          </a>


        <li class="treeview">
          <a [routerLink]="['/lab']">
            <i class="fa fa-flask"></i>
            <span>Laboratory</span>
          </a>

<!--        <li class="treeview">-->
<!--          <a [routerLink]="['/patient']">-->
<!--            <i class="fa fa-user-plus"></i>-->
<!--            <span>Patients</span>-->
<!--          </a>-->
      </ul>


    </section>
    <!-- /.sidebar -->

  </aside>
  <div class="control-sidebar-bg"></div>
</div>
<div id="snackbar" [ngClass]="popup">Some text some message..</div>

</body>
<router-outlet></router-outlet>
